<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.DemoMapper" >
    <select id="getInfo" resultType="java.util.Map">
        select  * from db_pay_platform.t_zj_aj
    </select>

	<select id="getUserInfo" parameterType="java.util.Map" resultType="java.util.Map">
		select 
			c_bh as bh,
			c_loginid as loginid,
			c_xm as name
		from
			bugkeeper.t_yhxx
		<if test="name != null and name != ''">
			where c_xm = #{name, jdbcType=VARCHAR}		
		</if>
	</select>
	
	<insert id="addUser" parameterType="java.util.Map" >
		insert into bugkeeper.t_yhxx (c_bh, c_loginid, c_xm) values (
			#{bh, jdbcType=VARCHAR},
			#{loginid, jdbcType=VARCHAR},
			#{name, jdbcType=VARCHAR}
		)
	</insert>
	
	<delete id="delUser" parameterType="java.util.Map">
		delete from bugkeeper.t_yhxx where c_bh = #{bh, jdbcType=VARCHAR}
	</delete>
</mapper>
