<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.UserMapper">
	<select id="login" parameterType="java.util.Map"
		resultType="java.util.Map">
		SELECT
			c_bh AS bh,
			c_email AS email,
			c_xm AS xm
		FROM
			bugkeeper.t_yhxx AS yhxx
		WHERE
			yhxx.c_loginid = #{loginid, jdbcType=VARCHAR}
		AND yhxx.c_password = #{password, jdbcType=VARCHAR}
	</select>

</mapper>
